.git
.gitignore
.env
.env.local
.env.*.local
.editorconfig
.phpunit.result.cache
.DS_Store
Thumbs.db
docker-compose.local.yml
docker-compose.dev.yml
docker-compose.override.yml
node_modules
storage/logs
storage/framework/cache
bootstrap/cache
vendor
.idea
.vscode
*.md
LICENSE
CHANGELOG.md
README.md
.pytest_cache
.coverage
coverage.xml
*.log
.next
.nuxt
dist
build
out
